@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Lato&family=Mynerve&display=swap");

body {
    background: #b84eb2 url(texture.png) repeat fixed;
    background-size: 15vmax;
    font-family: "Caudex", serif;
    color: #090A0F;
    font-size: 1vmax;
}

body img {
    height: 10vw;
    width: 10vw;
}

body #content {
    margin-left: 20vmin;
    margin-right: 20vmin;
    background-color: #FFF9DB;
    display: flex;
    flex-direction: column;
}

body #content header {
    flex-basis: 10%;
    display: flex;
    height: 10vmin;
    justify-content: space-between;
}

body #content header div {
    display: flex;
}

body #content header div h2 {
    text-align: center;
    font-weight: lighter;
}

body #content header div a img {
    height: 10vmin;
    width: 10vmin;
    box-sizing: border-box;
}

body #content header nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-basis: 40%;
    justify-content: center;
}

body #content header nav a {
    text-decoration: none;
    color: #595734;
    text-align: center;
    line-height: 10vmin;
    flex-basis: 33.3333333333%;
    height: 10vmin;
}

body #content header nav a:hover {
    backdrop-filter: brightness(90%);
    border-radius: 10%;
}

body #content footer {
    flex-basis: 10%;
    background-color: #f23e38;
    justify-content: center;
    text-align: center;
}

body #content footer p {
    font-family: "Mynerve", cursive;
    font-style: normal;
    font-weight: 400;
}

body #content p {
    font-family: "Caudex", serif;
    font-weight: normal;
}

body #content main {
    display: flex;
    flex-wrap: wrap;
}

body #content main header {
    padding: 1vw 1vh;
    display: flex;
    justify-content: space-around;
    gap: 1vw 1vh;
    align-items: center;
    height: 15vh;
    flex-basis: 100%;
}

body #content main header * {
    flex-basis: 50%;
    text-align: left;
}

body #content main header h1 {
    padding-left: 5vw;
}

body #content main section {
    image-rendering: smooth;
    background: #5e15e6 url("background green.png");
    background-size: 100%;
    background-position-x: right;
    color: #d4b829;
    display: flex;
}

body #content main section a {
    font-family: "Mynerve", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 35px;
    text-decoration: none;
    color: #F2C438;
}

body #content main section article {
    margin: 5vw 5vh;
    display: flex;
    gap: 1vw 2vh;
    border: #090A0F 1px solid;
}

body #content main section #article-1 {
    padding-right: 10vw;
    margin-top: 0%;
    font-family: "Caudex", serif;
}

body #content main section #article-1 img {
    height: 15vw;
    width: 15vw;
}

body #content main section #article-2 {
    gap: 5vw 5vh;
}

body #content main section #article-2 img {
    order: -1;
}